@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {

}
.paperheart-feature {
color: white;
}

.graphism-feature {
  color: white;

}

figcaption { font-family: 'Raleway', sans-serif;
color: #FF89F1;
}

p{ font-family: Oswald, sans-serif;
  color: #DFC9FF;

}



h1 {
  font-family: 'Homemade Apple';
  color: #D1B9FF;
  font-size: 3em;
  margin-bottom: 1.25em;
  text-align: center;
  margin-top: 100px;
  background-color: white;
}

h2 { font-family: 'Raleway', sans-serif;
color: #D1B9FF;
font-size: 2em;
margin-bottom: 1.25em;
text-align: center;
margin-top: 100px;
background-color: white;
padding-top: 20px;
}

h3 {
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: #D1B9FF;
  text-align: center;

}

h4 { font-family: 'Varela Round', sans-serif;
font-size: 1.25em;
color: #D1B9FF;

}





a {
  color: #A788FF;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.80em;
  text-align: center;

}
